body{
    font-family: "Arial";
}
h1 {
    font-family: "Arial Black";
    color: #444444;
    text-decoration: underline;
}
.showingData{
    display:none;
}

.pelicula-title{
    cursor:pointer;
}

.pelicula-title:hover{
    text-decoration: underline;
}
.clicked{
    font-size:30px;
    color:green;
    font-family: "Arial Black";
}